<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="assets/png/LogoMingga.png" width="180" height="80">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    <a class="navbar-brand" href="/vinculate">Nosotros</a>
    <a class="navbar-brand" href="#">Vincúlate</a>
    <a class="navbar-brand" href="#">Mi cuenta</a>
    <a class="navbar-brand" href="#">Noticias</a>
    <a class="navbar-brand" href="#">Descargar App</a>
    <a class="navbar-brand" href="#">Ingresar</a>

  </div>
</nav>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/comprar/BANNER1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/comprar/BANNER2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/comprar/BANNER3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="row">
    <br>
      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">
          <img src="assets/png/myob.png" width="90" height="50" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">
          <img src="assets/png/belimo.png" width="90" height="50" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">
          <img src="assets/png/lifegroups.png" width="90" height="50" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">
          <img src="assets/png/lilly.png" width="90" height="50" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">
          <img src="assets/png/citrus.png" width="90" height="50" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">
          <img src="assets/png/trustly.png" width="90" height="50" alt="">
        </a>
      </div>
  </div>
</div>

