<nav class="navbar navbar-light mb-5" style="background-color: #b1b2b3">
  <div class="container-fluid">
    <img
      src="assets/png/LogoMinggaN.png"
      width="290"
      height="550"
      class="img-fluid d-block mx-auto"
    />
    <hr />
  </div>
</nav>

<article>
  <h2 class="text-center">Regístrate gratis como persona natural</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
        <mat-label>País</mat-label>
        <mat-select (selectionChange)="onPaisChange($event)" formControlName="paisID" disableRipple>
          <mat-option *ngFor="let item of paises" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="ciudadID" disableRipple>
          <mat-option *ngFor="let item of ciudades" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
          <mat-label>Nombres</mat-label>
          <input matInput type="text" formControlName="nombres" autocomplete="disabled">
          <mat-error *ngIf="form.controls['nombres']?.invalid && (form.controls['nombres']?.dirty || form.controls['nombres']?.touched)">
              <span *ngIf="form.controls['nombres']?.errors?.['required']">Nombres es requerido</span>
          </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
          <mat-label>Apellidos</mat-label>
          <input matInput type="text" formControlName="apellidos" autocomplete="disabled">
          <mat-error *ngIf="form.controls['apellidos']?.invalid && (form.controls['apellidos']?.dirty || form.controls['apellidos']?.touched)">
              <span *ngIf="form.controls['apellidos']?.errors?.['required']">Apellidos es requerido</span>
          </mat-error>
      </mat-form-field>
    </div>



    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="tipo_documento" disableRipple>
          <mat-option *ngFor="let item of documento" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
          <mat-label>Número de Documento</mat-label>
          <input matInput type="text" formControlName="numero_documento" autocomplete="disabled">
          <mat-error *ngIf="form.controls['numero_documento']?.invalid && (form.controls['numero_documento']?.dirty || form.controls['numero_documento']?.touched)">
              <span *ngIf="form.controls['numero_documento']?.errors?.['required']">Apellidos es requerido</span>
          </mat-error>
      </mat-form-field>
    </div>



    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls['fecha_nacimiento']?.invalid && (form.controls['fecha_nacimiento']?.dirty || form.controls['fecha_nacimiento']?.touched)">
              <span *ngIf="form.controls['fecha_nacimiento']?.errors?.['required']">Apellidos es requerido</span>
          </mat-error>
      </mat-form-field>
    </div>









    <div class="row mb-3">
      <mat-form-field appearance="outline" class="col">
        <mat-label>Genero</mat-label>
        <mat-select formControlName="genero" disableRipple>
          <mat-option *ngFor="let item of genero" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <button class="mb-5" type="submit" color="primary" mat-raised-button>Crear</button>

    <pre>
      {{ form.value | json }}
    </pre>

  </form>
</article>
