.container-main
{
  width: 40%;
  margin: 0 auto;

}


input.ng-invalid.ng-touched {
  border: solid 2px tomato !important;
}

input.ng-valid {
  border: solid 2px #3cc53d !important;
}
