<h3>SERVICIOS PROFESIONALES Y TÉCNICOS - Nuestros socios</h3>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/odontologos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Odontólogos</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/medicos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Médicos</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/abogados.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Abogados</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/contadores.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Contadores</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/arquitectos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Arquitectos</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/electricistas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Electricistas</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/plomeros.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Plomeros</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/manicuristas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Manicuristas</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/peluqueros.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Peluqueros</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/enfermeros.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Enfermeros</a>
        </div>
      </div>
    </div>
  </div>
</div>
