<nav class="navbar navbar-light" style="background-color: #b1b2b3">
  <div class="container-fluid">
    <img
      src="assets/png/LogoMinggaN.png"
      width="290"
      height="550"
      class="img-fluid d-block mx-auto"
    />
    <hr />
  </div>
</nav>
<br />

<div class="container-fluid">
  <h2 class="text-center">Regístrate gratis como vendedor de bienes y servicios</h2>
  <hr />
</div>
<br />
<br />

<div class="container-fluid">
  <div class="container-main">
    <form autocomplete="off">
      <div class="container">
        <label class="l-01"> <h5>Lugar de operación</h5></label>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="País" required="" />
          <label for="floatingInput">País</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Ciudad" required="" />
          <label for="floatingInput">Ciudad</label>
        </div>
      </div>
      <div class="container">
        <label class="l-01"> <h5>Datos empresariales</h5></label>
        <div class="form-floating mb-3">
          <input type="text"  class="form-control"  id="floatingInput"  placeholder="Nombre de la empresa"  required=""  />
          <label for="floatingInput">Nombre de la empresa</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text"  class="form-control"  id="floatingInput"  placeholder="Sector de actividad"  required=""  />
          <label for="floatingInput">Sector de actividad</label>
        </div>
        <div class="form-floating mb-3">
          <select
            class="form-select"  aria-label="Default select example"  required=""  >
            <option selected>Tipo de documento de identidad</option>
            <option value="1">C.C</option>
            <option value="2">T.I</option>
            <option value="3">Pasaporte</option>
          </select>
          <label for="floatingInput">Identidad.</label>
        </div>
        <div class="form-floating mb-3">
          <input  type="text"  class="form-control"  id="floatingInput"  placeholder="N° de documento de identidad"  required=""  />
          <label for="floatingInput">N° de documento de identidad</label>
        </div>
        <div class="form-floating mb-3">
          <input  type="date"  class="form-control" id="floatingPassword"  placeholder="Fecha de constitución"  required=""  />
          <label for="floatingPassword">Fecha de constitución</label  >
        </div>
        <div class="form-floating mb-3">
          <input  type="text"  class="form-control"  id="floatingInput"  placeholder="Tipo de organización"  required=""  />
          <label for="floatingInput">Tipo de organización</label>
        </div>
        <div class="form-floating mb-3">
          <input  type="email"  class="form-control"  id="floatingInput"  placeholder="name@example.com"  required=""  />
          <label for="floatingInput">Correo electrónico</label>
        </div>
        <div class="form-floating mb-3">
          <input  type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required="" />
          <label for="floatingInput">Confirmar correo electrónico</label>
        </div>
      </div>

      <div class="container">
        <label class="l-01"> <h5>Representante legal</h5></label>
        <div class="form-floating mb-3">
          <input type="text"  class="form-control"  id="floatingInput"  placeholder="Nombres"  required=""  />
          <label for="floatingInput">Nombres</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text"  class="form-control"  id="floatingInput"  placeholder="Apellidos"  required=""  />
          <label for="floatingInput">Apellidos</label>
        </div>
        <div class="form-floating mb-3">
          <select
            class="form-select"  aria-label="Default select example"  required=""  >
            <option selected>Tipo de documento de identidad</option>
            <option value="1">C.C</option>
            <option value="2">T.I</option>
            <option value="3">Pasaporte</option>
          </select>
          <label for="floatingInput">Identidad.</label>
        </div>
        <div class="form-floating mb-3">
          <input  type="text"  class="form-control"  id="floatingInput"  placeholder="N° de documento de identidad"  required=""  />
          <label for="floatingInput">N° de documento de identidad</label>
        </div>
        <div class="form-floating mb-3">
          <input  type="email"  class="form-control"  id="floatingInput"  placeholder="name@example.com"  required=""  />
          <label for="floatingInput">Correo electrónico</label>
        </div>
        <div class="form-floating mb-3">
          <input  type="tel" pattern="[0-9]{10}"  required=""  class="form-control"  id="floatingInput"  placeholder="N° de celular"  />
          <label for="floatingInput">N° de celular</label>
        </div>
      </div>
      <div class="container">
        <label class="l-01"> <h5>Datos de vinculacion a Mingga</h5></label>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Usuario socio que te invita" />
          <label for="floatingInput">Usuario socio que te invita</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Crear usuario" required="" />
          <label for="floatingInput">Crear usuario</label>
        </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Crear contraseña" required="" />
            <label for="floatingPassword">Crear contraseña</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Confirmar tu contraseña" required="" />
            <label for="floatingPassword">Confirmar  contraseña</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="% de descuento a Mingga" required="" />
            <label for="floatingPassword">% de descuento a Mingga</label>
          </div>
        </div>
        <br>
        <div class="container text-center">
          <div class="container text-center">
            * Cualquier información falsa o incorrecta dará lugar a la anulación de la vinculación.
        </div>
        </div>
        <div class="container text-center">
          Al hacer clic en <b>Registrarse</b>, aceptas los
          <a href="#" class="m-0">Términos y condiciones de uso</a> de Mingga.
        </div>
        <div class="pt-4" style="text-align: center">
          <button class="btn btn-primary btn-lg">Registrarse</button>
        </div>
        <div class="container text-center pt-4">
          <b
            >¿Ya tienes cuenta? <a href="" class="m-0">Inicia sesión aquí</a>
          </b>
        </div>
    </form>
    </div>
  </div>
      <br />
          <!-- <div style="padding-top: 1rem;">
                <a href="#">¿Has olvidado la  contraseña?</a>
            </div> -->
  <app-contacto></app-contacto>


