<h3>BIENVENIDO A MINGA - La red social de los emprendedores</h3>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/vinculate.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VINCÚLATE COMO SOCIO</h5>
          <p class="card-text">Sin costo alguno y en cualquier parte del mundo, todo por internet.Sólo debes hacer 3 cosas sencillas <a href="#">Ver más</a> </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/beneficios.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MIS BENEFICIOS</h5>
          <p class="card-text">Sin invertir nada y con un trabajo muy sencillo, Minga ofrece importantes oportunidades y beneficios <a href="#">Ver más</a> </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/comprar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DONDE COMPRAR</h5>
          <p class="card-text">En el hogar, el trabajo, el estudio… cada vez que necesites algo, cómpralo en la Red Comercial Minga, y siempre ganando <a href="#">Ver más</a> </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/vender.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VENDE EN MINGA</h5>
          <p class="card-text">Apoyamos a nuestros emprendedores. Los socios pueden vender sus bienes  y servicios a la red de socios en todo el mundo <a href="#">Ver más</a></p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/videos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MINGA VIDEOS</h5>
          <p class="card-text">Conoce a Minga y su Red Mundial de Bienestar, su equipo de trabajo, servicios, oportunidades y beneficios para los socios <a href="#">Ver más</a></p>
        </div>
      </div>
    </div>
  </div>

</div>

<br>

<h3>DÓNDE PUEDO COMPRAR - Red Comercial Minga</h3>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/domicilios.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Domicilios</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/supermercados.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Supermercados</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/vestuario.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Vestuario Mujer-Hombre</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/cosmeticos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Cosméticos & perfumería</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/libros.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Libros impresos y digitales</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/muebles.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Muebles hogar & oficina</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/calzado.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Calzado Mujer-Hombre</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/fruver.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Fruver</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/mascotas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Mascotas</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <img src="assets/comprar/tecnologia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#">Sistemas y telefonía</a>
        </div>
      </div>
    </div>
  </div>


</div>


