<h3>PROMOCIONES Y OFERTAS - Nuestros proveedores</h3>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/pollo.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Pollo asado con papa a domicilio
            Tel 2456098- 2438752
            </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/yogurt.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Yogurt 2 litros
            12 sabores $10.000
            Domicilios
            Tesl 2874390-3456230
            </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/tapabocas.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Tapabocas 095
            Docena $36.000
            Domicilios 2337588-4354290
            </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/tenis.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Tennis en Cuero
            Domicilios tels 4238590-24238899
            </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/perfumes.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Perfumes Oscar de la Renta Originales
            Domicilios Tes 3445566-2778730
            </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/salas.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Salas en Cuero
            1 Sofa, 2 poltronas, Mesa de Centro
            $2.500.000
            Tel 5349988
            </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/nevera.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Nevera Haceb Nofrost R2354
            $1.650.000
            Tels 5266788
            </p>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/soat.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>SOAT Digital
            Autos – Motos
            Tels 5334455-3556686
            </p>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/overol.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Overol AntiVirus
            Impermeable, lavable $35.0000 Tels 4298566-3908745
            </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 13.5rem;">
        <a href="#">
        <img src="assets/comprar/babuchas.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p>Babuchas en Cuero
            Niño-Niña T. 22 a 26
            $35.0000
            Tels 5337788-3234356
            </p>
        </div>
      </div>
    </div>



</div>
