<nav class="navbar navbar-light" style="background-color: #b1b2b3">
  <div class="container-fluid">
    <img
      src="assets/png/LogoMinggaN.png"
      width="290"
      height="550"
      class="img-fluid d-block mx-auto"
    />
    <hr />
  </div>
</nav>
<br />
<div class="container-fluid">
  <h1 class="text-center">Selecciona</h1>
  <hr />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-5">
      <h2 class="text-center">Vincúlate como socio</h2>
      <hr />
    </div>
    <div class="col-5">
      <h2 class="text-center">Vincúlate como vendedor</h2>
      <hr />
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-5">
      <a class="navbar-brand" href="#">
      <h5 class="text-center">• Persona natural <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
      </svg> </h5>
    </a>
    </div>
    <div class="col-5">
      <a class="navbar-brand" href="#">
      <h5 class="text-center">•	Vendedor de bienes y servicios <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
      </svg></h5>
    </a>
    </div>
  </div>
 <br>
  <div class="row justify-content-center">
    <div class="col-5">
      <a class="navbar-brand" href="#">
      <h5 class="text-center">• Persona jurídica <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
      </svg></h5>
    </a>
    </div>
    <div class="col-5">
      <a class="navbar-brand" href="#">
      <h5 class="text-center">• Prestador de servicios <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
      </svg></h5>
    </a>
    </div>
  </div>

</div>

<br>
<br>
<br>
<br>

      <app-contacto></app-contacto>
