<nav class="navbar navbar-light" style="background-color: #b1b2b3">
  <div class="container-fluid">
    <img
      src="assets/png/LogoMinggaN.png"
      width="290"
      height="550"
      class="img-fluid d-block mx-auto"
    />
    <hr />
  </div>
</nav>
<br />
<br>
<br>



<div class="container-fluid">
  <div class="container-main">
    <form autocomplete="off">
      <div class="container">
        <div class="container text-center">
          <p class="welcome"> Bienvenido a <b class="mingga">MingaRMB</b> </p>
        </div>
        <br>
        <label class="l-01"> <h5>Iniciar sesión</h5></label>
        <br>
        <p class="text">Mantén segura tu identidad corporativa.
        El usuario y contraseña son personales e intransferibles.
        </p>

        <div class="form-floating mb-3">
          <input formControlName="usuario" type="email" class="form-control" id="floatingInput" placeholder="Ingresa tu usuario o correo electrónico" required="" />
          <label for="floatingInput">Ingresa tu usuario o correo electrónico</label>
        </div>

        <div class="form-floating mb-3">
          <input formControlName="password"  type="password" class="form-control" id="floatingPassword" placeholder="Ingresa tu contraseña" required="" />
          <label for="floatingPassword">Ingresa tu contraseña</label>
          <a href="#" class="password">¿Olvidaste tu contraseña?</a>
        </div>

        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-success" type="submit">Ingresar</button>
        </div>
      </div>
    </form>
    </div>
</div>
<br>
<br>

<app-contacto></app-contacto>










